:root {
  --color-primary-100: #111;
  --color-primary-200: #444;
  --color-primary-300: #666;

  --color-primary-700: #eaeaea;
  --color-primary-800: #fafafa;
  --color-primary-900: #fff;

  --color-primary-300: #636a7e;
  --color-primary-400: #afb4c0;

  --color-primary-700: hsl(0, 0%, 100%);
  --color-primary-800: hsl(240, 8%, 97%);
  --color-primary-900: hsl(240, 10%, 94%);
}

select {
  appearance: none;
  overflow: auto;

  width: 60px;

  text-indent: -5px;
  position: relative;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%23090A0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right center;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
}
